@charset 'utf-8'; 

/*
Author : mynam (2015.02.16)
Version : 1.0
*/


#wrap {width: 100%;}
#container {margin: 0px auto; width: 100%;padding-top:100px; padding-bottom: 100px; }
#container::after {clear: both; display: block; content: "";}
#contents {margin: 0px auto; width: 100%; }

/*---header---*/
#header_wrap {
	width: 100%;background:#fff;
    position:fixed;
    z-index:100;
    box-shadow: 0 2px 4px 1px #cdcdcd;
}
#header {margin: 0px auto; width: 1150px; }
.head_bg_wrap { width: 100%; position: relative;}
.head_bg_wrap .head_bg {margin: 0px auto; width: 1150px; }


/*nav_menu*/

#inb {height: 80px; clear:both;}
#inb h1 {height: 58px; padding-top: 10px; float: left;}
#inb #nav {padding: 20px 0px 0px 100px; float: left;}
#inb #nav li {font-size: 18px; margin-right: 50px; float: left;line-height:40px;}
#inb #nav li a.active {color:#f78d1d; border-top:2px solid #f78d1d;padding-top:5px;}
#inb #nav li a {color: rgb(108, 108, 108); font-weight: 700; text-decoration: none;}
#inb #nav li a:hover {color: #f78d1d;}
#inb #nav .last {margin-right: 0px;}


/*---footer---*/
#footer_wrap {width: 100%; height:71px;position:fixed;bottom:0;background: url("../img/copyright_bg.png") repeat-x;}
#footer {margin: 0px auto; width: 1150px; }
#footer .trust img{float:left;margin:15px 50px 0 0px;}
#footer .trust ul{}
#footer .trust li {float:left;margin-right:0px;}
#footer .trust p {float:left;font-size:14px;color:#969696;line-height:75px;margin-right:200px;}


/*---group---*/
#section_c1 {width:1150px;margin:50px auto;}
#section_c1::after {content: "";}

#section_c1 .group {width:250px;height:100px;float:left;padding-right:40px;}
#section_c1 .group dl dt{color: rgb(0, 0, 0);font-size: 24px;line-height:40px;}
#section_c1 .group dl dd{color:#29ace3;font-size: 14px;line-height:20px;}
#section_c1 .group dl dd.box{color:#7d7d7d;border:1px solid #ffe185;background:#fff2ba;font-size: 14px;padding:10px;width:200px;line-height:25px;}

#section_c1 .widget {float:right;width:300px;margin-top:-100px;}

#section_c1 .group_clear {width:250px;height:100px;clear:both;padding-right:40px;float:left;}
#section_c1 .group_clear dl dt{color: rgb(0, 0, 0);font-size: 24px;line-height:40px;}
#section_c1 .group_clear dl dd img {float:left;padding-right:10px;}

#section_c1 .group_last {width:300px;height:200px;float:left;padding-right:40px;}
#section_c1 .group_last dl dt{color: rgb(0, 0, 0);font-size: 24px;line-height:40px;}
#section_c1 .group_last dl dd{color:rgb(0, 0, 0);padding-left:20px;font-size: 14px;line-height:30px;background: url("../img/icon_arrow.png") 10px 10px no-repeat ;}

/*visual_view*/

#visual_view { width:1150px;height:370px;background:url(../img/visual.png) no-repeat 10px 50px;margin:0 auto;}
#visual_view #img {float:left;width:320px;}
#visual_view #img h1{font-size:24px;margin-top:190px;width:320px;text-align:center;}
#visual_view #img p.main_txt {
    text-align:center;
    color:#6b6b6b; 
    padding:20px 0px 0px 0px;
    width:320px;
    font-size:14px;
    line-height:24px;
    font-family:'Myriad Pro',NanumGothic;
    
}
#visual_view #point {padding-top:70px;}
#visual_view #point li {float:left;width:270px;border-right:1px solid #eee; }
#visual_view #point li.last {float:left;width:270px;border-right:0px; }
#visual_view #point h2 {font-size:24px;text-align:center; }
#visual_view #point li img{margin:0 100px 30px;height:67px; }

#visual_view #point li p.sub_txt {
    text-align:center;
    color:#bdbdbd; 
    line-height:24px;
    height:80px;
    margin:10px;
    font-size:14px;
    font-family:Tahoma,NanumGothic;
}
#visual_view #point li p.detail a {background:url(../img/icon_detail.png) no-repeat 5px 1px;margin:0 85px;padding-left:22px;padding-right:10px;clear:both;line-height:14px;color:#000;font-family:Tahoma;}

/*download_set*/
#download_bg {width:100%;background-color:#507481;}
#download_set {
    background:url(../img/download_bg.jpg) no-repeat;
    margin:0 auto;
    width:1150px;
    height: 152px;
}
#download_set #list {width:360px;float:left;margin:20px auto;}
#download_set #list h2{text-align:left;font-size:24px;line-height:40px;color:#fff;}

#download_set #list ul li{background:url(../img/icon_dot.png) no-repeat 5px 7px;color:#fff;padding-left:12px;line-height:18px;}
#download_set #btn {float:left;margin:50px auto; }
#download_set #btn ul li {float:left;margin-right:10px;border:2px solid #fff;border-radius:20px;padding:0 10px 0 40px;height:40px;font-size:18px;line-height:44px;}
#download_set #btn ul li.ws{background:url(../img/icon_windows.png) no-repeat 10px 10px;}
#download_set #btn ul li.ad {background:url(../img/icon_android.png) no-repeat 10px 5px;}
#download_set #btn ul li.ios {background:url(../img/icon_ios.png) no-repeat 10px 7px;}
#download_set #btn ul li.mobile {background:url(../img/icon_mobile.png) no-repeat 10px 7px;}

#download_set #btn ul li a{color:#fff;font-weight:700;}



/*view_detail*/
#view_detail {width:1150px;margin:0 auto;clear:both;}
#view_detail img.detail_01{float:left;margin:60px 150px;width:420px;}
#view_detail img.detail_02{float:left;margin:50px 80px;width:420px;}
#view_detail img.detail_03{float:left;margin:50px 80px;width:420px;}
#view_detail img.detail_05{margin:10px;width:730px;}

#view_detail dl {width:730px;float:right;margin-top:50px;}
#view_detail dl dt {color:#54b3c8;font-size:36px;font-weight:bold;height:50px;}
#view_detail dl dd {color:#bcbcbc;font-size:14px;line-height:30px;padding-bottom:30px;}
#view_detail .line{width:100%;clear:both;border-bottom:1px solid #e9e9e9;box-shadow: 0 2px 4px 1px #eee;}
#view_detail .top{clear:both;float:right;background: url("../img/btn_top.png") no-repeat;line-height:50px;width:25px;height:36px;cursor:pointer;text-align:center;margin-bottom:20px;margin-right:50px;color:#3d70b6;}
.switch {border:1px solid red;padding:10px;width:300px;margin:0 auto;}
.switch ul{}
.switch ul li {float:left;margin-right:10px;background: url("../img/icon_off.png") no-repeat;border:1px solid red;}
.switch ul li a.active {background: url("../img/icon_on.png") no-repeat;}




/*---text 정렬, 버튼--*/

.txt_left {text-align: left !important;}
.txt_right {text-align: right !important;}
.txt_center {text-align: center !important;}
.txt_underline {text-decoration: underline;}
.valign_m {	vertical-align: middle;}
.valign_t {vertical-align: top;}
.valign_b {float:right;vertical-align: bottom;margin-top:8px;}

.red { color:red}
.blue { color:#94b4da;}
.gray { color:gray}

